.nav {
  top: 65px !important;
  width: 100%;
  height: 6px;
  margin: auto;
  position: sticky;
  z-index: 10;
  top: 6vh;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 1199px) {
  .respon-nav {
    display: none !important;
  }
}
dl,
ol,
ul {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}


.sidebarNav {
  width: 100%;
  height: 0px;
  opacity: 0;
  background: #fff;
  position: absolute;
  top: 103%;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
  transition: all 0.2s;
  visibility: hidden;
  z-index: 100;
}

.sidebarNav.open {
  height: auto;
  opacity: 1;
  visibility: inherit;
}

.sidebarNav ul li {
  width: 100%;
  list-style: none;
  padding: 0px 10px;
}

.sidebarNav ul li button {
  text-align: left !important;
  color: #000;
  width: 100%;
  justify-content: flex-start;
  text-transform: capitalize !important;
}

.sidebarNav ul li button svg {
  font-size: 17px !important;
  opacity: 0.6;
}

.sidebarNav ul li button:hover {
  background: transparent !important;
  color: #ffad63 !important;
}

.sidebarNav ul li:hover button:first-child {
  color: #ffad63 !important;
}

.sidebarNav ul li {
  position: static;
}

.sidebarNav ul li .submenu {
  position: absolute;
  top: 0px;
  left: 105%;
  width: 250px;
  height: 100%;
  background: #fff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.sidebarNav ul li:hover .submenu {
  opacity: 1;
  visibility: inherit;
  left: 100%;
}

.sidebarNav ul li:hover .submenu button {
  border-radius: 0px !important;
  color: #000 !important;
}

.sidebarNav ul li .submenu button:hover {
  color: #7a55c1 !important;
}

.sec-nav-pro {
  font-size: 14px;
  font-weight: bold;
  padding: 0 12px;
  text-transform: uppercase;
}

.icon-sec-nav {
  height: 15px;
  width: fit-content;
}


@media (max-width: 1200px) {
  .nav {
    display: none !important;
  }
}

@media (min-width: 1201px) {
  .nav {
    background-color: #fff;
    top: 65px !important;
    width: 100%;
    height: 60px;
    margin: auto;
    position: sticky;
    z-index: 10;
    top: 6vh;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

/*  */


.Mobile-second-nav {
  
border-top: 0.5px solid #969696c0;
border-bottom: 1px solid #969696c0;
  padding: 0.25rem 2rem;


.nav-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  color: #000000;
}

/* Hamburger */
#toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #fff;
  border-radius: 3px;
}

/* Menu */
.menu {
  padding: none !important;
  display: flex;
  list-style: none;
  gap: 1rem;
  transition: all 0.3s ease;
}

.menu li {
  position: relative;
  z-index: 9999;
  padding: 5px 5px 5px 5px ;
}

.menu li a {
  text-decoration: none;
  color: #000000;
  padding: 0.5rem;
  transition: 0.3s;
}

.menu li a:hover {
  color: #ffad63;
}

/* Dropdown */
.menu li ul {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #777777;
  background-color: #ffffff;
  display: none;
  list-style: none;
  padding: 0.5rem 0;
  border-radius: 6px;
  min-width: 280px;
}

.menu li:hover ul {
  display: block;
}

.menu li ul li a {
  padding: 0.6rem 1rem;
  display: block;
}

.menu li ul li a:hover {
  background-color: #1e3c52;
}
}
/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .menu {
    width: 100%;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
  }

  .menu li {
    width: 100%;
  }

  .menu li ul {
    position: static;
    box-shadow: none;
  }

  #toggle:checked+.hamburger+.menu {
    max-height: 1000px;
    margin-top: 2rem;
  }
}