* {
  margin: 0;
  padding: 0;
}

/* EMPOWERING GLOBAL TRADE */
.empowering-global-section-procureg {
  padding: 7% 0;

  .empowering-global-left-procureg img {
    border-radius: 10px;
  }

  .empowering-global-right-procureg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .empowering-global-right-procureg .card {
    border: none;
    outline: none;
    margin-left: -15%;
    width: 100%;
    height: fit-content;
  }

  .empowering-global-right-procureg .card-body {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 8%;
  }

  .empowering-global-right-procureg .card-title {
    font-size: 35px;
    font-weight: bold;
    color: #ffad63;
  }

  .empowering-global-right-procureg .card-text {
    font-size: 17px;
    color: #8c8c8c;
  }

  .empowering-global-right-procureg button {
    background-color: #ffad63;
    /* Change to any color you like */
    color: white;
    /* Text color */
    padding: 15px 35px;
    /* Adjust padding for size */
    border: none;
    /* Removes default border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Changes cursor on hover */
    text-align: center;
    /* Centers text */
    font-size: 14px;
    /* Adjust font size */
    display: inline-block;
    /* Ensures proper alignment */
  }

  .empowering-global-right-procureg button:hover {
    background-color: #ffad63;
    /* Slightly darker shade on hover */
  }
}

/* OUR BUSINESS AT PROCUREG */
.our-business-section-procureg {
  .our-business-contents-procureg {
    text-align: center;
  }

  .our-business-contents-procureg h3 {
    font-size: 35px;
    color: #ffad63;
    font-weight: bold;
  }

  .our-business-contents-procureg p {
    color: #8c8c8c;
    margin-top: 17px;
  }

  /* GLOBAL CONTENTS */
  .global-buyer-contents-procureg {
    margin-top: 3.5%;
  }

  .global-buyer-full-contents-procureg {
    padding: 5% 0;
  }

  .global-buyer-left-contents-procureg {
    display: flex;
    align-items: end;
  }

  .global-buyer-left-contents-procureg h3 {
    color: white;
    width: 75%;
  }

  .global-buyer-right-contents-procureg {
  }

  .global-buyer-right-contents-procureg .card {
    outline: none;
    border: none;
  }

  .global-buyer-right-contents-procureg .card-body {
    background-color: #f5f5f5;
    padding: 10%;
    border-radius: 10px;
  }

  .global-buyer-right-contents-procureg .card-title {
    font-size: 33px;
    color: #ffad63;
  }

  .global-buyer-right-contents-procureg .card-text {
    color: #8c8c8c;
    font-size: 16px;
  }
}

/* OUR CORE VALUES */
.our-core-section-procureg {
  padding: 7% 0;
  background-color: #ffad63;
  text-align: center;

  .our-core-heading-procureg {
    padding: 0 0 2% 0;
  }

  .our-core-heading-procureg h3 {
    color: white;
    font-size: 40px;
    font-weight: bold;
  }

  .our-core-sub-section-procureg {
    padding: 2% 0;
  }

  .our-core-sub-section-procureg h3 {
    color: white;
    font-size: 22px;
    font-weight: bold;
  }

  .our-core-sub-section-procureg p {
    color: #c0c0c0;
  }
}

/* EMPOWER ACCELERATE  */
.empower-accelerate-section-procureg {
  padding: 3.5% 0;
  background-color: #f5f5f5;

  .empower-accelerate-heading-procureg {
    text-align: center;
  }

  .empower-accelerate-heading-procureg h3 {
    font-size: 35px;
    color: #ffad63;
    font-weight: 500;
  }

  .empower-accelerate-heading-procureg p {
    color: #8c8c8c;
    margin-top: 13px;
  }

  .empower-accelerate-4card-procureg {
    padding: 2.5% 0;
  }

  .empower-accelerate-4card-procureg .card {
    border: none;
    outline: none;
  }

  .empower-accelerate-4card-procureg .card-body {
    border-radius: 10px;
    padding: 40px;
  }

  .empower-accelerate-4card-procureg .card-title {
    font-size: 35px;
    font-weight: bold;
  }

  .empower-accelerate-4card-procureg .card-subtitle {
    font-size: 20px;
  }

  .empower-accelerate-4card-procureg .card-text {
    color: #8c8c8c;
    width: 85%;
  }
}

/* KEY BENEFITS */
.key-benefits-section-procureg {
  padding: 6% 0;

  .key-benefits-left-procureg {
    /* position: sticky;
        top: 10rem; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .key-benefits-left-procureg h3 {
    color: #ffad63;
    font-size: 35px;
    font-weight: 700;
    /* width: 85%; */
    text-transform: uppercase;
  }

  .key-benefits-left-procureg p {
    /* width: 78%; */
    color: #8c8c8c;
    margin-top: 10px;
  }

  .key-benefits-right-procureg {
  }

  .key-benefits-right-procureg .card {
    outline: none;
    border: none;
  }

  .key-benefits-right-procureg .card-body {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 5%;
    border-left: 10px solid #ffad63d5;
  }

  .key-benefits-right-procureg .card-title {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .key-benefits-right-procureg .card-text {
    color: #8c8c8c;
    width: 85%;
  }
}

/* BUYING & SELLING */
.buying-selling-section-procureg {
  .buying-selling-contents-procureg {
    padding: 22% 0;
  }

  .buying-selling-contents-procureg h5 {
    font-size: 50px;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.788);
    color: transparent;
  }

  .buying-selling-contents-procureg h6 {
    font-size: 35px;
    font-weight: 500;
  }

  .buying-selling-contents-procureg p {
    font-size: 17px;
    color: #8c8c8c;
  }
}

/* GET STARTED PROCUREMENT */
.started-procurement-section-procureg {
  background-color: #ffad63;
  padding: 4% 0;

  .started-procurement-content1-procureg {
  }

  .started-procurement-content2-procureg {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: 35px;
      color: white;
      text-align: start;
    }

    p {
      font-size: 17px;
      color: #8c8c8c;
      width: 85%;
    }
  }

  .started-procurement-content3-procureg {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .started-procurement-content3-procureg button {
    background-color: #ffffff;
    /* Change to any color you like */
    color: #ffad63;
    /* Text color */
    padding: 15px 35px;
    /* Adjust padding for size */
    border: none;
    /* Removes default border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Changes cursor on hover */
    text-align: center;
    /* Centers text */
    font-size: 18px;
    /* Adjust font size */
    display: inline-block;
    /* Ensures proper alignment */
    transition: 1s;
  }

  .started-procurement-content3-procureg button:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #ffad63;
    transition: 1s;
  }
}
